<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184610334903-ebk0ms4i4iap9ncm451t2sbj9q8ugcek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184610334903-ebk0ms4i4iap9ncm451t2sbj9q8ugcek</string>
	<key>API_KEY</key>
	<string>AIzaSyBZbA_orNie2CUNKTnLfvVVdCX31mhOoDM</string>
	<key>GCM_SENDER_ID</key>
	<string>184610334903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.autoService.AutoService</string>
	<key>PROJECT_ID</key>
	<string>autoservice-5b84e</string>
	<key>STORAGE_BUCKET</key>
	<string>autoservice-5b84e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184610334903:ios:88ea92e9e2bdfb5b910532</string>
</dict>
</plist>